.bar-container {
  display: flex;
  flex-direction: row;
  margin: 0 10%;
}

.bar {
  background-color: aquamarine;
  margin: 0 2px;
  bottom: 0;
  text-align: center;
}

.comparing {
  background-color: brown;
}

.sorted {
  background-color: blueviolet;
}
